body {
    margin: 0;
    background-image: url("rsc/one-peace-bg.jpg");
    background-size: cover;
    /* backdrop-filter: blur(6px); */
    color: rgb(4, 2, 29);
    font-family:Arial, Helvetica, sans-serif;
}


#descr-container, #title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.disappear {
    display: none;
    opacity: 0;
}


#title {
    display: flex;
    flex-direction: column;
    /* flex-grow: 0.5; */
    /* font-size: 30px; */
    height: 400px;
    /* height: auto; */
    justify-content: center;
    
    /* Animations */
    opacity: 0;
    animation-name: titleOn;
    animation-duration: 7s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes titleOn {
    0% {opacity: 0;}
    100% {opacity: 1;}

}


.desc {
    display: flex;
    flex-direction: column;
    background: rgb(255, 219, 151);
    background-size: cover;
    padding: 20px 20px 20px 20px;
    border: solid rgb(255, 196, 108) 10px;
    /* flex-grow: 0.5; */
    font-size: 40px;
    color: rgba(126, 50, 0, 0.747);
    /* height: auto; */
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.desc-animate {
    /* Animation */
    animation-name: opacityOnAndOff;
    animation-duration: 5s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.desc-small {
    font-size: 20px;
    color: black;
}


#player-move-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#player-move {
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    background: rgb(2, 10, 126);
    border: solid rgb(78, 126, 230) 15px;
    justify-content: center;
    align-items: center;
    height: 10px;
    /* transform: translateY(-150px); */
}


.player-move-anime-girl {
    opacity: 1;
    display: flex;
    flex-direction: row;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

#player-move-anime-girl-1 {
    opacity: 1;
    height: 280px;
    margin-left: 20px;
}


#player-move-anime-girl-2 {
    opacity: 1;
    height: 240px;
    margin-right: 20px;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


#button-container {
    display: flex;
    justify-content: center;
    padding: 80px 0 50px 0;
}

.button {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 170px;
    font-size: 20px;
    color: black;
    border: 10px solid rgb(252, 90, 90);
    background: rgb(255, 205, 205);
    margin: 0 60px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.player-choice-image {
    display: flex;
    flex-direction: column;
    width: 150px;
}


.player-choice-desc {
    display: flex;
    flex-direction: column;
}


.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
  }


#score-labels-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.score-label {
    display: flex;
    flex-direction: row;
    font-size: 27px;
    width: 160px;
    height: auto;
    border: 3px solid rgba(155, 132, 2, 0.808);
    background: rgba(255, 237, 135, 0.808);
    color: rgb(119, 61, 19);
    margin: 20px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}


#score-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.score {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
    
    font-size: 30px;
    color: rgb(99, 64, 0);

    background: orange;
    border: 10px solid rgb(116, 37, 0);
    border-radius: 50%;
    /* opacity: 0.8; */

    margin: 0 20px 20px 20px;
    justify-content: center;
    align-items: center;
}


#result-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}


#result-announce {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0 30px 0 30px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    opacity: 0;
}


.result-animate {
    /* Animation */
    animation-name: opacityOnAndOff;
    animation-duration: 3s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


.end-desc {
    display: flex;
    flex-direction: column;
}


.fade-out {
    animation-name: fade-out;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


